* {
    margin:0;
    padding:O;
    box-sizing: border-box;
}
body {
    display:flex;
    flex-wrap:wrap;

}
h1 {font-size: 20px;}
p {font-size: 25px;}



@media only screen and (max-width: 300px) {
    body {background-color: red;}
    #small {display:block; width: 66%;} 
}

@media only screen and (min-width:300px) and (max-width:760px) {
    body {background-color: green;}
    #medium {display:block; width: 33%;}
    #small {width:67%;}
    #large {width:100%;}
}

@media only screen and (min-width: 768px) {
    body {background-color: blue; flex-wrap:nowrap;}
    #large {display:block;}
}



